Lab2A: WebScraping

In [1]:
#Get html from tennis website

import requests
response = requests.get("https://www.atptour.com/en/rankings/singles")

In [2]:
#import beautiful soup to parse html

from bs4 import BeautifulSoup
soup = BeautifulSoup(response.content,"html.parser")

In [14]:
#search for headings and creates array
rows = []

#tag tr stores tennis players and all information into a list
tag = soup.find_all('tr')
for element in tag:
    if element.contents[1].name == 'td':
        ranking = element.contents[1].string.strip()
        name =  element.find("span",{"class": "player-cell-wrapper"}).a['ga-label'].strip()
        age = element.find("td",{"class": "age-cell"}).string.strip()
        points = element.find("td",{"class": "points-cell"}).a.string.strip()
        rows.append([ranking,name,age,points])
   
print(type(rows))

<class 'list'>

In [15]:
#create dataframe from list
import pandas as pd
df = pd.DataFrame(rows)
df = df.rename(columns = {0:'Ranking',1:'Name',2:'Age',3:'Points'})
df = df.set_index('Ranking')
df

                            Name Age  Points
Ranking
1                 Novak Djokovic  34  12,113
2                Daniil Medvedev  25  10,220
3                   Rafael Nadal  35   8,270
4             Stefanos Tsitsipas  22   8,000
5               Alexander Zverev  24   7,340
...                          ...  ..     ...
96       Roberto Carballes Baena  28     819
97            Jo-Wilfried Tsonga  36     813
98             Stefano Travaglia  29     811
99                  Pablo Cuevas  35     807
100        Pierre-Hugues Herbert  30     795

[100 rows x 3 columns]